<div class="container">
	<div class="text-center col-md-12">
		<div class="player" ng-bind-html="player_html"></div>
		<form ng-submit="vm.getUser(searchText)">
			<input placeholder="Type In A Soundcloud Username" ng-model="searchText" class="search"><button class="btn btn-sm btn-success">Search</button>
			<h5 class="tip">Click a song's artwork to play it!</h5>
		</form>
		<div class="songLoad" class="row">
			<div class="col-md-12">
				<div ng-repeat="song in vm.userData">
					<div class="col-md-3">
						<img src="http://i.ytimg.com/vi/L5z2-Mx9TNE/hqdefault.jpg" ng-click="vm.play(song.permalink_url)" ng-if="!song.artwork_url">
						<img ng-src="{{song.artwork_url}}" ng-click="vm.play(song.permalink_url)" ng-if="song.artwork_url">
						<h4><a href="{{song.permalink_url}}">{{song.title}}</a></h4>
						<h6 ng-if="song.description">{{song.description}}</h6>
						<h6 ng-if="!song.description">No description</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

